<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.mook.user.find.dao.FindPasswordMapper">
	
	<select id="countMemberByUserIdNameEmail" parameterType="kr.mook.user.find.dto.FindDTO" resultType="int">
		/** FindPasswordMapper.countMemberByUserIdNameEmail */
		SELECT
			COUNT(M.userId)
		FROM
			MEMBER M
		WHERE
			M.userId = #{userId}
			AND M.name = #{name}
			AND M.email = #{email}
	</select>
	
	<update id="updateTempPassword" parameterType="kr.mook.user.find.dto.TempPasswordDTO">
		/** FindPasswordMapper.updateTempPassword */
		UPDATE MEMBER
		SET
			password = #{tempPassword},
			isTempPassword = 1
		WHERE
			userId = #{userId}
	</update>
</mapper>