<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.mook.user.signup.dao.SignUpMapper">
	
	<select id="countByUserId" parameterType="String" resultType="int">
		/** SignUpMapper.countByUserId */
		SELECT
			COUNT(M.id)
		FROM
			MEMBER M
		WHERE
			M.userId = #{userId}
	</select>
	
	<select id="countByPhone" parameterType="String" resultType="int">
		/** SignUpMapper.countByPhone */
		SELECT
			COUNT(M.id)
		FROM
			MEMBER M
		WHERE
			M.phone = #{phone}
	</select>
	
	<select id="countByEmail" parameterType="String" resultType="int">
		/** SignUpMapper.countByEmail */
		SELECT
			COUNT(M.id)
		FROM
			MEMBER M
		WHERE
			M.email = #{email}
	</select>
	
	<insert id="insertMember" parameterType="kr.mook.user.signup.dto.SignUpDTO">
		/** SignUpMapper.insertMember */
		INSERT INTO MEMBER(
			userId,
			password,
			name,
			birth,
			gender,
			phone,
			email,
			nation,
			postNumber,
			address,
			addressDetail,
			createDate,
			isActive,
			isTempPassword,
			isAdmin
		) VALUES (
			#{userId},
			#{password},
			#{name},
			#{birth},
			#{gender},
			#{phone},
			#{email},
			#{nation},
			#{postNumber},
			#{address},
			#{addressDetail},
			now(),
			1,
			0,
			0
		)
	</insert>
	
	<select id="selectIdByUserId" parameterType="String" resultType="Integer">
		SELECT
			id
		FROM
			MEMBER
		WHERE
			userId = #{userId}
	</select>
	
	<insert id="insertTermsOfUseMembers" parameterType="kr.mook.user.signup.dto.TermsOfUseMemberDTO">
		/** SignUpMapper.insertTermsOfUseMembers */
		INSERT INTO TERMS_OF_USE_MEMBERS (
			termsOfUseId,
			memberId,
			isAgree,
			createMemberId,
			createDate
		) VALUES (
			#{termsOfUseId},
			#{memberId},
			#{agree},
			#{memberId},
			now()
		)
	</insert>
	
</mapper>