/* display */
.d-block {
	display: block;
}

.d-contents {
	display: contents;
}

.d-flex {
	display: flex;
}

.d-inline {
	display: inline;
}

.d-inline-block {
	display: inline-block;
}

.d-inline-flex {
	display: inline-flex;
}

.d-none {
	display: none;
}

/* justify-content */
.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: end;
}

.justify-content-right {
	justify-content: right;
}

.justify-content-space-around {
	justify-content: space-around;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-start {
	justify-content: start;
}