/* width {n} percents */
.w-0p {
	width: 0%;
}

.w-10p {
	width: 10%;
}

.w-15p {
	width: 15%;
}

.w-20p {
	width: 20%;
}

.w-25p {
	width: 25%;
}

.w-30p {
	width: 30%;
}

.w-33p {
	width: 33%;
}

.w-35p {
	width: 35%;
}

.w-40p {
	width: 40%;
}

.w-45p {
	width: 45%;
}

.w-50p {
	width: 50%;
}

.w-55p {
	width: 55%;
}

.w-60p {
	width: 60%;
}

.w-65p {
	width: 65%;
}

.w-70p {
	width: 70%;
}

.w-75p {
	width: 75%;
}

.w-80p {
	width: 80%;
}

.w-85p {
	width: 85%;
}

.w-90p {
	width: 90%;
}

.w-95p {
	width: 95%;
}

.w-100p {
	width: 100%;
}

/* width {n} rem */
.w-1rem {
	width: 1rem;
}

.w-2rem {
	width: 2rem;
}

.w-3rem {
	width: 3rem;
}

.w-4rem {
	width: 4rem;
}

.w-5rem {
	width: 5rem;
}

.w-6rem {
	width: 6rem;
}

.w-7rem {
	width: 7rem;
}

.w-8rem {
	width: 8rem;
}

.w-9rem {
	width: 9rem;
}

.w-10rem {
	width: 10rem;
}

.w-15rem {
	width: 15rem;
}

.w-20rem {
	width: 20rem;
}

.w-25rem {
	width: 25rem;
}

.w-30rem {
	width: 30rem;
}

.w-35rem {
	width: 35rem;
}

.w-40rem {
	width: 40rem;
}

.w-45rem {
	width: 45rem;
}

.w-50rem {
	width: 50rem;
}

.w-55rem {
	width: 55rem;
}

.w-60rem {
	width: 60rem;
}

.w-65rem {
	width: 65rem;
}

.w-70rem {
	width: 70rem;
}

.w-75rem {
	width: 75rem;
}

.w-80rem {
	width: 80rem;
}

.w-85rem {
	width: 85rem;
}

.w-90rem {
	width: 90rem;
}

.w-95rem {
	width: 95rem;
}

.w-100rem {
	width: 100rem;
}

.w-150rem {
	width: 150rem;
}

.w-200rem {
	width: 200rem;
}

.w-250rem {
	width: 250rem;
}

.w-300rem {
	width: 300rem;
}

.w-350rem {
	width: 350rem;
}

.w-400rem {
	width: 400rem;
}

.w-450rem {
	width: 450rem;
}

.w-500rem {
	width: 500rem;
}

.w-1000rem {
	width: 1000rem;
}